.section-subtitle {
  font-family: "Bookman Old Style";
  font-size: calc(1.5rem + (0.6875) * (100vw - 22.5rem) / (25.49875));
  font-weight: 300;
  font-style: normal;
  text-align: left;
}
@media (min-width: 767.98px) {
  .section-subtitle {
    font-size: calc(2.1875rem + (0.9375) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .section-subtitle {
    font-size: 3.125rem;
  }
}

.section-title {
  font-family: "Roboto", serif;
  font-size: calc(0.875rem + (0.375) * (100vw - 22.5rem) / (25.49875));
  line-height: calc(16px + (8) * (100vw - 360px) / (407.98));
  font-weight: 700;
  font-style: normal;
  color: #000;
}
@media (min-width: 767.98px) {
  .section-title {
    font-size: calc(1.25rem + (0.375) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .section-title {
    font-size: 1.625rem;
  }
}
@media (min-width: 767.98px) {
  .section-title {
    line-height: calc(24px + (7) * (100vw - 767.98px) / (952.02));
  }
}
@media (min-width: 1720px) {
  .section-title {
    line-height: 31px;
  }
}
@media (min-width: 1023px) {
  .section-title {
    font-family: "Bookman Old Style";
    font-weight: bold;
  }
}

.section-title--white {
  color: #FCFCFC;
}

.section-title--red {
  color: #DF803E;
}

.logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: calc(20px + (12) * (100vw - 360px) / (407.98));
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  color: #000;
}
@media (min-width: 767.98px) {
  .logo {
    font-size: calc(32px + (10) * (100vw - 767.98px) / (952.02));
  }
}
@media (min-width: 1720px) {
  .logo {
    font-size: 42px;
  }
}
@media (min-width: 1023px) {
  .logo {
    font-size: 41.62px;
    line-height: 49px;
  }
}

.button {
  font-family: "Roboto", serif;
  font-weight: 400;
  background-color: #FCFCFC;
  color: #000;
  border-radius: 10px;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  font-size: calc(0.875rem + (0.375) * (100vw - 22.5rem) / (25.49875));
  line-height: calc(16px + (8) * (100vw - 360px) / (407.98));
  padding-inline: calc(1rem + (0.875) * (100vw - 22.5rem) / (25.49875));
  padding-block: calc(0.625rem + (0.3125) * (100vw - 22.5rem) / (25.49875));
}
@media (min-width: 767.98px) {
  .button {
    font-size: calc(1.25rem + (0.375) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .button {
    font-size: 1.625rem;
  }
}
@media (min-width: 767.98px) {
  .button {
    line-height: calc(24px + (7) * (100vw - 767.98px) / (952.02));
  }
}
@media (min-width: 1720px) {
  .button {
    line-height: 31px;
  }
}
@media (min-width: 767.98px) {
  .button {
    padding-inline: calc(1.875rem + (0.75) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .button {
    padding-inline: 2.625rem;
  }
}
@media (min-width: 767.98px) {
  .button {
    padding-block: calc(0.9375rem + (0.3125) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .button {
    padding-block: 1.25rem;
  }
}
@media (min-width: 1023px) {
  .button {
    font-family: "Bookman Old Style";
    font-weight: 300;
  }
}
.button:hover {
  color: #DF803E;
}
.button:disabled {
  color: #5C5C5C;
  background-color: #C9C9C9;
}

.button--leave {
  padding-inline: calc(1.25rem + (0.625) * (100vw - 22.5rem) / (25.49875));
  padding-block: calc(0.625rem + (0.3125) * (100vw - 22.5rem) / (25.49875));
  background-color: #DF803E;
  border: 2px solid #000;
}
@media (min-width: 767.98px) {
  .button--leave {
    padding-inline: calc(1.875rem + (0.625) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .button--leave {
    padding-inline: 2.5rem;
  }
}
@media (min-width: 767.98px) {
  .button--leave {
    padding-block: calc(0.9375rem + (0.3125) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .button--leave {
    padding-block: 1.25rem;
  }
}
.button--leave:hover {
  background-color: #FCFCFC;
  color: #DF803E;
  border: 2px solid #FCFCFC;
}

.button--send {
  padding-inline: calc(1.375rem + (1.375) * (100vw - 22.5rem) / (25.49875));
  padding-block: calc(0.625rem + (0.3125) * (100vw - 22.5rem) / (25.49875));
  background-color: #DF803E;
}
@media (min-width: 767.98px) {
  .button--send {
    padding-inline: calc(2.75rem + (1.375) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .button--send {
    padding-inline: 4.125rem;
  }
}
@media (min-width: 767.98px) {
  .button--send {
    padding-block: calc(0.9375rem + (0.3125) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .button--send {
    padding-block: 1.25rem;
  }
}
.button--send:hover {
  background-color: #FCFCFC;
  color: #DF803E;
  border: 2px solid #DF803E;
}

.titles {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.titles__subtitle {
  text-align: center;
  margin: 0 auto;
}
.titles__title {
  margin-bottom: 1.5rem;
  -moz-text-align-last: left;
       text-align-last: left;
}
@media (min-width: 1023px) {
  .titles__title {
    margin-bottom: 0;
  }
}

.ol-list {
  list-style: none;
  counter-reset: ol-item;
  list-style-position: inside;
}
.ol-list ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ol-list li {
  position: relative;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-size: calc(1rem + (0.625) * (100vw - 22.5rem) / (25.49875));
  font-weight: 400;
  line-height: 1.187;
}
@media (min-width: 767.98px) {
  .ol-list li {
    font-size: calc(1.625rem + (0.5) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .ol-list li {
    font-size: 2.125rem;
  }
}
@media (min-width: 1023px) {
  .ol-list li {
    font-family: "Bookman Old Style";
    font-weight: 300;
    line-height: 1.3;
  }
}
.ol-list li:before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc(38px + (10) * (100vw - 360px) / (407.98));
  height: calc(38px + (10) * (100vw - 360px) / (407.98));
  font-size: calc(1rem + (0.625) * (100vw - 22.5rem) / (25.49875));
  margin-right: 34px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  counter-increment: ol-item;
  content: counter(ol-item, decimal-leading-zero);
  border-radius: 50%;
  border: 2px solid currentColor;
}
@media (min-width: 767.98px) {
  .ol-list li:before {
    width: calc(48px + (18) * (100vw - 767.98px) / (952.02));
  }
}
@media (min-width: 1720px) {
  .ol-list li:before {
    width: 66px;
  }
}
@media (min-width: 767.98px) {
  .ol-list li:before {
    height: calc(48px + (18) * (100vw - 767.98px) / (952.02));
  }
}
@media (min-width: 1720px) {
  .ol-list li:before {
    height: 66px;
  }
}
@media (min-width: 767.98px) {
  .ol-list li:before {
    font-size: calc(1.625rem + (0.5) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .ol-list li:before {
    font-size: 2.125rem;
  }
}
@media (max-width: 1720px) {
  .ol-list li:before {
    margin-right: calc(8px + (26) * (100vw - 360px) / (1360));
  }
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 100%;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Bookman Old Style";
  src: url("../../../fonts/BookmanOldStyle.eot");
  src: url("../../../fonts/BookmanOldStyle.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BookmanOldStyle.woff2") format("woff2"), url("../../../fonts/BookmanOldStyle.woff") format("woff"), url("../../../fonts/BookmanOldStyle.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bookman Old Style";
  src: url("../../../fonts/BookmanOldStyle-Bold.eot");
  src: url("../../../fonts/BookmanOldStyle-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BookmanOldStyle-Bold.woff2") format("woff2"), url("../../../fonts/BookmanOldStyle-Bold.woff") format("woff"), url("../../../fonts/BookmanOldStyle-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

.page {
  font-family: "Bookman Old Style";
  font-weight: 300;
  line-height: 1.3;
  color: #000;
  background-color: #fff;
  overflow-x: clip;
}

.page.lock {
  overflow: clip;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: clip;
}

[class*=__container] {
  max-width: 1720px;
  padding-inline: 20px;
  margin-inline: auto;
  overflow-x: clip;
}

.main__section {
  padding-top: calc(48px + (20) * (100vw - 360px) / (407.98));
  padding-bottom: calc(64px + (34) * (100vw - 360px) / (407.98));
}
@media (min-width: 767.98px) {
  .main__section {
    padding-top: calc(68px + (40) * (100vw - 767.98px) / (952.02));
  }
}
@media (min-width: 1720px) {
  .main__section {
    padding-top: 108px;
  }
}
@media (min-width: 767.98px) {
  .main__section {
    padding-bottom: calc(98px + (22) * (100vw - 767.98px) / (952.02));
  }
}
@media (min-width: 1720px) {
  .main__section {
    padding-bottom: 120px;
  }
}

.hero {
  background-color: #DF803E;
  position: relative;
  left: 0;
  top: 0;
}
.hero__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.hero:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -32%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 75vw 100vw 75vw 0;
  border-color: transparent #fff transparent transparent;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media (min-width: 1023px) {
  .hero:before {
    left: 52%;
    top: 50%;
    bottom: 0%;
    border-width: 26vw 50vw 26vw 0;
    -webkit-transform: translateY(-50%) rotate(0deg);
        -ms-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
  }
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1023px) {
  .hero__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.hero__text-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: calc(2rem + (0) * (100vw - 22.5rem) / (25.49875));
}
@media (min-width: 767.98px) {
  .hero__text-content {
    margin-top: calc(2rem + (0.875) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .hero__text-content {
    margin-top: 2.875rem;
  }
}
@media (min-width: 1023px) {
  .hero__text-content {
    width: 52%;
  }
}
.hero__title {
  font-size: calc(3.1875rem + (1.1875) * (100vw - 22.5rem) / (25.49875));
  margin-bottom: calc(0.5rem + (0.5) * (100vw - 22.5rem) / (25.49875));
  font-weight: 600;
  line-height: 117.777778%; /* 106px/90 */
}
@media (min-width: 767.98px) {
  .hero__title {
    font-size: calc(4.375rem + (1.25) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .hero__title {
    font-size: 5.625rem;
  }
}
@media (min-width: 767.98px) {
  .hero__title {
    margin-bottom: calc(1rem + (0.5) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .hero__title {
    margin-bottom: 1.5rem;
  }
}
.hero__text {
  font-size: calc(1.875rem + (0.625) * (100vw - 22.5rem) / (25.49875));
  margin-bottom: calc(1rem + (2.125) * (100vw - 22.5rem) / (25.49875));
  font-weight: 300;
  line-height: 110%;
}
@media (min-width: 767.98px) {
  .hero__text {
    font-size: calc(2.5rem + (0.625) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .hero__text {
    font-size: 3.125rem;
  }
}
@media (min-width: 767.98px) {
  .hero__text {
    margin-bottom: calc(3.125rem + (2.5) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .hero__text {
    margin-bottom: 5.625rem;
  }
}
@media (min-width: 576px) {
  .hero__text {
    line-height: 130%;
  }
}
.hero__img {
  width: calc(140px + (220) * (100vw - 360px) / (407.98));
  aspect-ratio: 0.7082/1;
  z-index: 5;
  overflow: hidden;
}
@media (min-width: 767.98px) {
  .hero__img {
    width: calc(360px + (179) * (100vw - 767.98px) / (952.02));
  }
}
@media (min-width: 1720px) {
  .hero__img {
    width: 539px;
  }
}
.hero__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.hero__button {
  position: relative;
  left: 0;
  top: 0;
  -ms-flex-item-align: center;
      align-self: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 0.3125rem;
}
@media (min-width: 1023px) {
  .hero__button {
    -ms-flex-item-align: start;
        align-self: start;
  }
}

.about__content {
  position: relative;
  left: 0;
  top: 0;
  z-index: 3;
}
.about__titles {
  margin-bottom: calc(1.25rem + (1.25) * (100vw - 22.5rem) / (25.49875));
}
@media (min-width: 767.98px) {
  .about__titles {
    margin-bottom: calc(2.5rem + (1.5625) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .about__titles {
    margin-bottom: 4.0625rem;
  }
}
.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2.44%;
     -moz-column-gap: 2.44%;
          column-gap: 2.44%;
  row-gap: 4.88%;
}

.item {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: calc(150px + (130) * (100vw - 360px) / (407.98));
      flex-basis: calc(150px + (130) * (100vw - 360px) / (407.98));
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: calc(0.5625rem + (0.4375) * (100vw - 22.5rem) / (25.49875));
  padding-block: calc(0.75rem + (0.875) * (100vw - 22.5rem) / (25.49875));
  border: 2px solid #000;
  border-radius: 20px;
  text-align: center;
}
@media (min-width: 767.98px) {
  .item {
    -ms-flex-preferred-size: calc(280px + (128) * (100vw - 767.98px) / (952.02));
        flex-basis: calc(280px + (128) * (100vw - 767.98px) / (952.02));
  }
}
@media (min-width: 1720px) {
  .item {
    -ms-flex-preferred-size: 408px;
        flex-basis: 408px;
  }
}
@media (min-width: 767.98px) {
  .item {
    padding-inline: calc(1rem + (0.3125) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .item {
    padding-inline: 1.3125rem;
  }
}
@media (min-width: 767.98px) {
  .item {
    padding-block: calc(1.625rem + (1.6875) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .item {
    padding-block: 3.3125rem;
  }
}
.item__img {
  width: calc(66px + (64) * (100vw - 360px) / (407.98));
  aspect-ratio: 1/1;
  margin-bottom: 1.0625rem;
  overflow: hidden;
}
@media (min-width: 767.98px) {
  .item__img {
    width: calc(130px + (60) * (100vw - 767.98px) / (952.02));
  }
}
@media (min-width: 1720px) {
  .item__img {
    width: 190px;
  }
}
.item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.services {
  background-color: #DF803E;
  overflow: hidden;
}
.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__titles {
  margin-bottom: calc(1.6875rem + (1.0625) * (100vw - 22.5rem) / (25.49875));
}
@media (min-width: 767.98px) {
  .services__titles {
    margin-bottom: calc(2.75rem + (1.3125) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .services__titles {
    margin-bottom: 4.0625rem;
  }
}
.services__list {
  position: relative;
  left: 0;
  top: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-bottom: calc(24px + (20) * (100vw - 360px) / (407.98));
}
@media (min-width: 767.98px) {
  .services__list {
    margin-bottom: calc(44px + (20) * (100vw - 767.98px) / (952.02));
  }
}
@media (min-width: 1720px) {
  .services__list {
    margin-bottom: 64px;
  }
}
@media (min-width: 1023px) {
  .services__list {
    max-width: 41.61%;
  }
}
.services__list li {
  padding-block: calc(0.625rem + (0.3125) * (100vw - 22.5rem) / (25.49875));
}
@media (min-width: 767.98px) {
  .services__list li {
    padding-block: calc(0.9375rem + (0.3125) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .services__list li {
    padding-block: 1.25rem;
  }
}
.services__list li:not(:last-child) {
  border-bottom: 2px solid #000;
}
.services__list:before, .services__list:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: calc(160px + (0) * (100vw - 360px) / (407.98));
  aspect-ratio: 0.708/1;
  background-image: url("../../images/giraffe-big.webp");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 20;
}
@media (min-width: 767.98px) {
  .services__list:before, .services__list:after {
    width: calc(160px + (258) * (100vw - 767.98px) / (952.02));
  }
}
@media (min-width: 1720px) {
  .services__list:before, .services__list:after {
    width: 418px;
  }
}
@media (min-width: 1023px) {
  .services__list:before, .services__list:after {
    background-size: cover;
  }
}
.services__list::before {
  left: 0;
  -webkit-transform: translate(-25%, 120%);
      -ms-transform: translate(-25%, 120%);
          transform: translate(-25%, 120%);
}
@media (min-width: 1023px) {
  .services__list::before {
    left: -10px;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}
.services__list::after {
  right: 0;
  -webkit-transform: translate(25%, 100%);
      -ms-transform: translate(25%, 100%);
          transform: translate(25%, 100%);
}
@media (min-width: 1023px) {
  .services__list::after {
    right: -10px;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

.study {
  background-color: #fff;
}
.study__content-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: calc(40px + (10) * (100vw - 360px) / (407.98));
}
@media (min-width: 767.98px) {
  .study__content-body {
    row-gap: calc(50px + (14) * (100vw - 767.98px) / (952.02));
  }
}
@media (min-width: 1720px) {
  .study__content-body {
    row-gap: 64px;
  }
}
@media (min-width: 1023px) {
  .study__content-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.study__list {
  row-gap: calc(1rem + (0.75) * (100vw - 22.5rem) / (25.49875));
}
@media (min-width: 767.98px) {
  .study__list {
    row-gap: calc(1.75rem + (0.75) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .study__list {
    row-gap: 2.5rem;
  }
}
.study__types {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (min-width: 1023px) {
  .study__types {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}
.study__format {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (min-width: 1023px) {
  .study__format .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    -webkit-column-gap: 6.2%;
       -moz-column-gap: 6.2%;
            column-gap: 6.2%;
    row-gap: 1.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.study__img {
  aspect-ratio: 1.32/1;
  overflow: hidden;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.study__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 1023px) {
  .study__img {
    aspect-ratio: 1.893/1;
    -ms-flex-preferred-size: 57%;
        flex-basis: 57%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.study__subtitle {
  text-align: center;
}
.study__list-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: calc(0.5rem + (0.3) * (100vw - 22.5rem) / (25.49875));
}
@media (min-width: 767.98px) {
  .study__list-text {
    row-gap: calc(0.8rem + (0.2) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .study__list-text {
    row-gap: 1rem;
  }
}
.study .list__disc {
  font-family: "Roboto", serif;
  font-size: calc(1rem + (0.25) * (100vw - 22.5rem) / (25.49875));
  line-height: calc(19px + (5) * (100vw - 360px) / (407.98));
  font-weight: 400;
  font-style: normal;
  color: #000;
}
@media (min-width: 767.98px) {
  .study .list__disc {
    font-size: calc(1.25rem + (0.375) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .study .list__disc {
    font-size: 1.625rem;
  }
}
@media (min-width: 767.98px) {
  .study .list__disc {
    line-height: calc(24px + (7) * (100vw - 767.98px) / (952.02));
  }
}
@media (min-width: 1720px) {
  .study .list__disc {
    line-height: 31px;
  }
}
@media (min-width: 1023px) {
  .study .list__disc {
    font-family: "Bookman Old Style";
    font-weight: 300;
  }
}

.travels__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.travels__text {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 2.125rem;
  margin-bottom: 48px;
  line-height: 1.3;
}
@media (max-width: 1720px) {
  .travels__text {
    font-size: calc(1rem + (1.125) * (100vw - 22.5rem) / (85));
  }
}
@media (max-width: 1720px) {
  .travels__text {
    margin-bottom: calc(24px + (24) * (100vw - 360px) / (1360));
  }
}
@media (min-width: 1023px) {
  .travels__text {
    font-family: "Bookman Old Style";
    font-weight: 300;
  }
}

.mansory {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (min-width: 1023px) {
  .mansory {
    -webkit-columns: 3;
       -moz-columns: 3;
            columns: 3;
  }
}
.mansory img {
  min-width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 1720px) {
  .mansory img {
    margin-bottom: calc(8px + (12) * (100vw - 360px) / (1360));
  }
}

.footer {
  background-color: #DF803E;
}
.footer__content {
  padding-top: calc(48px + (20) * (100vw - 360px) / (407.98));
  padding-bottom: calc(40px + (58) * (100vw - 360px) / (407.98));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  row-gap: 16px;
}
@media (min-width: 767.98px) {
  .footer__content {
    padding-top: calc(68px + (44) * (100vw - 767.98px) / (952.02));
  }
}
@media (min-width: 1720px) {
  .footer__content {
    padding-top: 112px;
  }
}
@media (min-width: 767.98px) {
  .footer__content {
    padding-bottom: calc(98px + (22) * (100vw - 767.98px) / (952.02));
  }
}
@media (min-width: 1720px) {
  .footer__content {
    padding-bottom: 120px;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: calc(40px + (40) * (100vw - 360px) / (407.98));
     -moz-column-gap: calc(40px + (40) * (100vw - 360px) / (407.98));
          column-gap: calc(40px + (40) * (100vw - 360px) / (407.98));
}
@media (min-width: 767.98px) {
  .contacts {
    -webkit-column-gap: calc(80px + (40) * (100vw - 767.98px) / (952.02));
       -moz-column-gap: calc(80px + (40) * (100vw - 767.98px) / (952.02));
            column-gap: calc(80px + (40) * (100vw - 767.98px) / (952.02));
  }
}
@media (min-width: 1720px) {
  .contacts {
    -webkit-column-gap: 120px;
       -moz-column-gap: 120px;
            column-gap: 120px;
  }
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
}
@media (min-width: 576px) {
  .contacts__item {
    row-gap: 1rem;
  }
}
.contacts__title,
.contacts a {
  font-family: "Roboto", serif;
  font-size: calc(0.875rem + (0.125) * (100vw - 22.5rem) / (25.49875));
  line-height: calc(1rem + (0.125) * (100vw - 22.5rem) / (25.49875));
  font-weight: 400;
  font-style: normal;
  color: #000;
}
@media (min-width: 767.98px) {
  .contacts__title,
  .contacts a {
    font-size: calc(1rem + (0.125) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .contacts__title,
  .contacts a {
    font-size: 1.125rem;
  }
}
@media (min-width: 767.98px) {
  .contacts__title,
  .contacts a {
    line-height: calc(1.125rem + (0.1875) * (100vw - 47.99875rem) / (59.50125));
  }
}
@media (min-width: 1720px) {
  .contacts__title,
  .contacts a {
    line-height: 1.3125rem;
  }
}
@media (min-width: 1023px) {
  .contacts__title,
  .contacts a {
    font-family: "Bookman Old Style";
    font-weight: 300;
  }
}
.contacts__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
}
@media (min-width: 576px) {
  .socials {
    row-gap: 1rem;
  }
}
.socials__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}