.titles__subtitle {
  font-family: "Bookman Old Style";
  font-size: calc(24px + (11) * (100vw - 320px) / (447.98));
  font-weight: 300;
  font-style: normal;
  text-align: left;
}
@media (min-width: 767.98px) {
  .titles__subtitle {
    font-size: calc(35px + (15) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .titles__subtitle {
    font-size: 50px;
  }
}

.titles__title {
  font-family: "Roboto", serif;
  font-size: calc(14px + (6) * (100vw - 320px) / (447.98));
  line-height: calc(16px + (8) * (100vw - 320px) / (447.98));
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 767.98px) {
  .titles__title {
    font-size: calc(20px + (6) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .titles__title {
    font-size: 26px;
  }
}
@media (min-width: 767.98px) {
  .titles__title {
    line-height: calc(24px + (7) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .titles__title {
    line-height: 31px;
  }
}
@media (min-width: 1023px) {
  .titles__title {
    font-family: "Bookman Old Style";
    font-weight: bold;
  }
}

.hero__button {
  font-family: "Roboto", serif;
  font-weight: 400;
  background-color: #FCFCFC;
  border-radius: 10px;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  font-size: calc(14px + (6) * (100vw - 320px) / (447.98));
  line-height: calc(16px + (8) * (100vw - 320px) / (447.98));
  padding-inline: calc(16px + (14) * (100vw - 320px) / (447.98));
  padding-block: calc(10px + (5) * (100vw - 320px) / (447.98));
}
@media (min-width: 767.98px) {
  .hero__button {
    font-size: calc(20px + (6) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .hero__button {
    font-size: 26px;
  }
}
@media (min-width: 767.98px) {
  .hero__button {
    line-height: calc(24px + (7) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .hero__button {
    line-height: 31px;
  }
}
@media (min-width: 767.98px) {
  .hero__button {
    padding-inline: calc(30px + (12) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .hero__button {
    padding-inline: 42px;
  }
}
@media (min-width: 767.98px) {
  .hero__button {
    padding-block: calc(15px + (5) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .hero__button {
    padding-block: 20px;
  }
}
@media (min-width: 1023px) {
  .hero__button {
    font-family: "Bookman Old Style";
    font-weight: 300;
  }
}
.hero__button:hover {
  color: #DF803E;
}
@media (hover: none) {
  .hero__button:active {
    color: #DF803E;
  }
}
.hero__button:disabled {
  color: #5C5C5C;
  background-color: #C9C9C9;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 100%;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Bookman Old Style";
  src: url("../../../fonts/BookmanOldStyle.eot");
  src: url("../../../fonts/BookmanOldStyle.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BookmanOldStyle.woff2") format("woff2"), url("../../../fonts/BookmanOldStyle.woff") format("woff"), url("../../../fonts/BookmanOldStyle.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bookman Old Style";
  src: url("../../../fonts/BookmanOldStyle-Bold.eot");
  src: url("../../../fonts/BookmanOldStyle-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BookmanOldStyle-Bold.woff2") format("woff2"), url("../../../fonts/BookmanOldStyle-Bold.woff") format("woff"), url("../../../fonts/BookmanOldStyle-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

.page {
  font-family: "Bookman Old Style";
  font-weight: 300;
  line-height: 1.3;
  color: #000;
  background-color: #fff;
  overflow-x: clip;
}

.page.lock {
  overflow: clip;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: clip;
}

[class*=__container] {
  max-width: 1800px;
  padding-inline: calc(20px + (24) * (100vw - 320px) / (447.98));
  margin: 0 auto;
  overflow-x: clip;
}
@media (min-width: 767.98px) {
  [class*=__container] {
    padding-inline: calc(44px + (16) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  [class*=__container] {
    padding-inline: 60px;
  }
}

.main__section {
  padding-top: calc(48px + (20) * (100vw - 320px) / (447.98));
  padding-bottom: calc(64px + (34) * (100vw - 320px) / (447.98));
}
@media (min-width: 767.98px) {
  .main__section {
    padding-top: calc(68px + (40) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .main__section {
    padding-top: 108px;
  }
}
@media (min-width: 767.98px) {
  .main__section {
    padding-bottom: calc(98px + (22) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .main__section {
    padding-bottom: 120px;
  }
}

.hero {
  background-color: #DF803E;
  position: relative;
  left: 0;
  top: 0;
}
.hero__text p:not(:last-child) {
  margin-bottom: 10px;
}
.hero:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -32%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 75vw 100vw 75vw 0;
  border-color: transparent #fff transparent transparent;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media (min-width: 1023px) {
  .hero:before {
    left: 52%;
    top: 50%;
    bottom: 0%;
    border-width: 26vw 50vw 26vw 0;
    -webkit-transform: translateY(-50%) rotate(0deg);
        -ms-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
  }
}
.hero__content {
  position: relative;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1023px) {
  .hero__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.hero__text-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: calc(32px + (0) * (100vw - 320px) / (447.98));
}
@media (min-width: 767.98px) {
  .hero__text-content {
    margin-top: calc(32px + (14) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .hero__text-content {
    margin-top: 46px;
  }
}
@media (min-width: 1023px) {
  .hero__text-content {
    width: 52%;
  }
}
.hero__title {
  font-size: calc(51px + (19) * (100vw - 320px) / (447.98));
  margin-bottom: calc(8px + (8) * (100vw - 320px) / (447.98));
  font-weight: 600;
  line-height: 117.777778%; /* 106px/90 */
}
@media (min-width: 767.98px) {
  .hero__title {
    font-size: calc(70px + (20) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .hero__title {
    font-size: 90px;
  }
}
@media (min-width: 767.98px) {
  .hero__title {
    margin-bottom: calc(16px + (8) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .hero__title {
    margin-bottom: 24px;
  }
}
.hero__text {
  font-size: calc(30px + (10) * (100vw - 320px) / (447.98));
  margin-bottom: calc(16px + (34) * (100vw - 320px) / (447.98));
  font-weight: 300;
  line-height: 110%;
}
@media (min-width: 767.98px) {
  .hero__text {
    font-size: calc(40px + (10) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .hero__text {
    font-size: 50px;
  }
}
@media (min-width: 767.98px) {
  .hero__text {
    margin-bottom: calc(50px + (40) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .hero__text {
    margin-bottom: 90px;
  }
}
@media (min-width: 576px) {
  .hero__text {
    line-height: 130%;
  }
}
.hero__img {
  position: relative;
  left: 0;
  top: 0;
  width: calc(140px + (220) * (100vw - 320px) / (447.98));
  aspect-ratio: 0.7082/1;
  z-index: 5;
}
@media (min-width: 767.98px) {
  .hero__img {
    width: calc(360px + (179) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .hero__img {
    width: 539px;
  }
}
.hero__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.hero__button {
  -ms-flex-item-align: center;
      align-self: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 5px;
}
@media (min-width: 1023px) {
  .hero__button {
    -ms-flex-item-align: start;
        align-self: start;
  }
}

.about__content {
  position: relative;
  left: 0;
  top: 0;
  z-index: 3;
}
.about__titles {
  margin-bottom: calc(20px + (20) * (100vw - 320px) / (447.98));
}
@media (min-width: 767.98px) {
  .about__titles {
    margin-bottom: calc(40px + (20) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .about__titles {
    margin-bottom: 60px;
  }
}
.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 4.88%;
     -moz-column-gap: 4.88%;
          column-gap: 4.88%;
  row-gap: 42px;
}

.item {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: calc(150px + (130) * (100vw - 320px) / (447.98));
      flex-basis: calc(150px + (130) * (100vw - 320px) / (447.98));
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: calc(9px + (7) * (100vw - 320px) / (447.98));
  padding-block: calc(12px + (14) * (100vw - 320px) / (447.98));
  border: 2px solid #000;
  border-radius: 20px;
  text-align: center;
}
@media (min-width: 767.98px) {
  .item {
    -ms-flex-preferred-size: calc(280px + (128) * (100vw - 767.98px) / (462.02));
        flex-basis: calc(280px + (128) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .item {
    -ms-flex-preferred-size: 408px;
        flex-basis: 408px;
  }
}
@media (min-width: 767.98px) {
  .item {
    padding-inline: calc(16px + (5) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .item {
    padding-inline: 21px;
  }
}
@media (min-width: 767.98px) {
  .item {
    padding-block: calc(26px + (27) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .item {
    padding-block: 53px;
  }
}
.item__img {
  position: relative;
  left: 0;
  top: 0;
  width: calc(66px + (64) * (100vw - 320px) / (447.98));
  aspect-ratio: 1/1;
  margin-bottom: 17px;
  overflow: hidden;
}
@media (min-width: 767.98px) {
  .item__img {
    width: calc(130px + (60) * (100vw - 767.98px) / (462.02));
  }
}
@media (min-width: 1230px) {
  .item__img {
    width: 190px;
  }
}
.item__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.titles {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.titles__subtitle {
  text-align: center;
  margin: 0 auto;
}
.titles__title {
  margin-bottom: 24px;
  -moz-text-align-last: left;
       text-align-last: left;
  color: #DF803E;
}
@media (min-width: 1023px) {
  .titles__title {
    margin-bottom: 0;
  }
}