* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 100%;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Bookman Old Style";
  src: url("../../../fonts/BookmanOldStyle-Bold.eot");
  src: url("../../../fonts/BookmanOldStyle-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BookmanOldStyle-Bold.woff2") format("woff2"), url("../../../fonts/BookmanOldStyle-Bold.woff") format("woff"), url("../../../fonts/BookmanOldStyle-Bold.ttf") format("truetype"), url("../../../fonts/BookmanOldStyle-Bold.svg#BookmanOldStyle-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bookman Old Style";
  src: url("../../../fonts/BookmanOldStyle.eot");
  src: url("../../../fonts/BookmanOldStyle.eot?#iefix") format("embedded-opentype"), url("../../../fonts/BookmanOldStyle.woff2") format("woff2"), url("../../../fonts/BookmanOldStyle.woff") format("woff"), url("../../../fonts/BookmanOldStyle.ttf") format("truetype"), url("../../../fonts/BookmanOldStyle.svg#BookmanOldStyle") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/*
@font-face {
    font-family: 'Bookman Old Style';
    src: url('BookmanOldStyle-Bold.eot');
    src: url('BookmanOldStyle-Bold.eot?#iefix') format('embedded-opentype'),
        url('BookmanOldStyle-Bold.woff2') format('woff2'),
        url('BookmanOldStyle-Bold.woff') format('woff'),
        url('BookmanOldStyle-Bold.ttf') format('truetype'),
        url('BookmanOldStyle-Bold.svg#BookmanOldStyle-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bookman Old Style';
    src: url('BookmanOldStyle.eot');
    src: url('BookmanOldStyle.eot?#iefix') format('embedded-opentype'),
        url('BookmanOldStyle.woff2') format('woff2'),
        url('BookmanOldStyle.woff') format('woff'),
        url('BookmanOldStyle.ttf') format('truetype'),
        url('BookmanOldStyle.svg#BookmanOldStyle') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

*/
html {
  scroll-behavior: smooth;
}

.page {
  font-family: "Jost", serif;
  font-size: calc(16px + 4 * (100vw - 360px) / 384px);
  font-weight: 400;
  line-height: 1.5; /* 33px/22 */
  letter-spacing: 0.22px;
  color: #000;
  background-color: #fff;
  overflow-x: clip;
}
@media (min-width: 767.98px) {
  .page {
    font-size: calc(20px + 2 * (100vw - 767.98px) / 1236px);
  }
}
@media (min-width: 1980px) {
  .page {
    font-size: 22px;
  }
}

.page.lock {
  overflow: clip;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: clip;
}

[class*=__container] {
  max-width: 1980px;
  padding-inline: calc(20px + 24 * (100vw - 360px) / 384px);
  margin: 0 auto;
  overflow-x: clip;
}
@media (min-width: 767.98px) {
  [class*=__container] {
    padding-inline: calc(44px + 76 * (100vw - 767.98px) / 1236px);
  }
}
@media (min-width: 1980px) {
  [class*=__container] {
    padding-inline: 120px;
  }
}

.roboto {
  font-family: "Roboto", serif;
  font-weight: 700;
}