.hero {
  background-color: $bg-color-red;
  @include p-margin;
  @include positiion-r;
  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -32%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 75vw 100vw 75vw 0;
    border-color: transparent #fff transparent transparent;
    transform: rotate(90deg);
  }
  @include onDesktop {
    &:before {
      left: 52%;
      top: 50%;
      bottom: 0%;
      border-width: 26vw 50vw 26vw 0;
      transform: translateY(-50%) rotate(0deg);
    }
  }
  &__content {
    @include positiion-r;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onDesktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__text-content {
    width: 100%;
    @include flex;
    flex-direction: column;
    @include adaptive-property(margin-top, 32, 32, 46);

    @include onDesktop {
      width: 52%;
    }
  }
  &__title {
    @include adaptive-property(font-size, 51, 70, 90);
    @include adaptive-property(margin-bottom, 8, 16, 24);
    font-weight: 600;
    line-height: 117.777778%; /* 106px/90 */
  }
  &__text {
    @include adaptive-property(font-size, 30, 40, 50);
    @include adaptive-property(margin-bottom, 16, 50, 90);
    font-weight: 300;
    line-height: 110%;

    @include onTablet {
      line-height: 130%;
    }
  }
  &__img {
    @include positiion-r;
    @include adaptive-property(width, 140, 360, 539);
    aspect-ratio: 0.7082 / 1;
    z-index: 5;

    img {
      @include ibg;
    }
  }
  &__button {
    align-self: center;
    width: max-content;
    margin-bottom: 5px;
    @extend %button;
    @include onDesktop {
      align-self: start;
    }
  }
}
