.reviews {
  @include adaptive-property(padding-top, 48, 68, 108);
  @include adaptive-property(padding-bottom, 64, 98, 120);
  &__subtitle {
    @include adaptive-property(margin-bottom, 24, 0, 64);
  }
  &__slider {
    @include positiion-r;
  }
}
.slider {
  &__content {
    @include adaptive-property(width, 320, 0, 1330);
    @include adaptive-property(border-radius, 11, 0, 20);
  }
  &__buttons {
    width: 100%;
    margin-top: 30px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;

    @include onDesktop {
      position: absolute;
      left: 0;
      bottom: 50%;
      translate: 0 50%;
    }
  }
}
.post {
  flex-shrink: 0;
  width: 100%;
  @include adaptive-property(width, 320, 0, 1330);
  @include adaptive-property(padding, 16, 0, 48);
  background-color: $bg-color-red;
  cursor: pointer;
  &__person-text {
    display: flex;
    flex-direction: column;
  }
  &__person {
    @include positiion-r;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8125rem;
    padding-bottom: 1.125rem;
    @include adaptive-property(padding-right, 60, 0, 86);
    border-bottom: 2px solid #fcfcfc;
    column-gap: 10px;
  }
  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    @include adaptive-property(width, 50, 0, 76);
    @include adaptive-property(height, 71, 0, 107);
    // margin-left: -3rem;
    // margin-bottom: -3rem;
    @include ibg(cover);
  }
  &__author {
    @include adaptive-property(font-size, 1.25, 0, 2.125, rem);
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 0.5rem;
  }
  &__text,
  &__position {
    font-family: "Roboto", serif;
    @include adaptive-property(font-size, 1, 0, 1.625, rem);
    font-weight: 400;
    line-height: 1.2;
    @include onDesktop {
      font-family: "Bookman Old Style";
      font-weight: 300;
    }
  }
}