.study {
  background-color: $bg-color;
  &__content-body {
    display: flex;
    flex-direction: column;
    @include adaptive-property(row-gap, 40, 50, 64);
    @include onDesktop {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__list {
    @include adaptive-property(row-gap, 1, 1.75, 2.5, rem);
  }
  &__types {
    order: 1;
    @include onDesktop {
      flex-basis: 40%;
    }
  }
  &__format {
    order: 2;

    .list {
      @include onDesktop {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        column-gap: 6.2%;
        row-gap: 1.5rem;
        justify-content: center;
        align-items: start;
      }
    }
  }
  &__img {
    aspect-ratio: 1.32 / 1;
    border-radius: 14px;
    order: 3;
    @include ibg;
    @include onDesktop {
      aspect-ratio: 1.893 / 1;
      flex-basis: 57%;
      order: 2;
    }
    img {
      transition: $transition-duraction-short;
    }
    &:hover img {
      transform: rotate(1deg) scale(1.15);
    }
  }
  &__title {
    @include adaptive-property(margin-bottom, 24, 0, 72);
  }
  &__subtitle {
    @include adaptive-property(margin-bottom, 24, 0, 64);
    text-align: center;
  }
  &__list-text {
    display: flex;
    flex-direction: column;
    @include adaptive-property(row-gap, 0.5, 0.8, 1, rem);
  }
  .list__disc {
    font-family: "Roboto", serif;
    @include adaptive-property(font-size, 1, 1.25, 1.625, rem);
    @include adaptive-property(line-height, 19, 24, 31);
    font-weight: 400;
    font-style: normal;
    color: $text-color-dark;
    @include onDesktop {
      font-family: "Bookman Old Style";
      font-weight: 300;
    }
  }
}
