.team {
  background-color: $bg-color-red;
  &__subtitle {
    @include adaptive-property(margin-bottom, 24, 0, 64);
  }
  &__slider {
    @include positiion-r;
    @include adaptive-property(margin-bottom, 90, 0, 120);
  }
  &__slider .slider-team__content {
    @include adaptive-property(width, 320, 0, 1330);
  }
  &__slider .swiper-wrapper {
    align-items: center;
  }
}
.team-item {
  flex-shrink: 0;
  max-width: 100%;
  @include adaptive-property(width, 255, 0, 400);
  background-color: #FCFCFC;
  @include adaptive-property(border-radius, 8, 0, 14);
  @include p-margin;
  text-align: center;
  cursor: pointer;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__person {
    display: grid;
    grid-template-rows: minmax(30px, 70px) minmax(30px, 70px) 0fr;
    justify-content: center;
    @include adaptive-property(padding, 16, 0, 40);
    transition-property: grid-template-rows;
    transition-duration: 0.2s;

  }
  &__img {
    @include adaptive-property(width, 94, 0, 400);
    @include adaptive-property(height, 110, 0, 509);
    @include ibg;
    img {
      margin-top: 17px;
    }
    @include onDesktop {
      margin-top: 0px;
    }
  }
  &__name {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    border-bottom: 1px solid $bg-color-red;
    @include adaptive-property(font-size, 1.25, 0, 2.125, rem);
    @include adaptive-property(margin-bottom, 0.5, 0, 0.625, rem);
    text-align: center;
    font-weight: 300;
    line-height: 115%; /* 23/20 */
    @include onDesktop {
      line-height: 130%;
      border: none;
    }
  }
  &__position,
  &__text {
    font-family: "Roboto", serif;
    font-weight: 400;
    line-height: 118.75%; /* 19px/16 */
    @include adaptive-property(font-size, 1, 0, 1.625, rem);
    @include onDesktop {
      font-family: "Bookman Old Style";
      line-height: 119.230769%; /* 31px/26 */
    }
  }
  &__text {
    overflow: hidden;
  }
  &__position,
  &__text p {
    @include adaptive-property(margin-bottom, 0.25, 0, 0.875, rem);
  }
}
.swiper-slide-active .team-item__person {
  grid-template-rows: minmax(30px, 70px) minmax(30px, 70px) 1fr;
}