.section-subtitle {
  font-family: "Bookman Old Style";
  @include adaptive-property(font-size, 1.5, 2.1875, 3.125, rem);
  font-weight: 300;
  font-style: normal;
  text-align: left;
}
.section-title {
  font-family: "Roboto", serif;
  @include adaptive-property(font-size, 0.875, 1.25, 1.625, rem);
  @include adaptive-property(line-height, 16, 24, 31);
  font-weight: 700;
  font-style: normal;
  color: $text-color-dark;

  @include onDesktop {
    font-family: "Bookman Old Style";
    font-weight: bold;
  }
}
.section-title--white {
  color: #FCFCFC;
}
.section-title--red {
  color: $bg-color-red
}
//==================================BUTTON=========================================
.button {
  font-family: "Roboto", serif;
  font-weight: 400;
  background-color: #FCFCFC;
  color: $text-color-dark;
  border-radius: 10px;
  transition: $transition-duraction ease-in;
  @include adaptive-property(font-size, 0.875, 1.25, 1.625, rem);
  @include adaptive-property(line-height, 16, 24, 31);
  @include adaptive-property(padding-inline, 1, 1.875, 2.625, rem);
  @include adaptive-property(padding-block, 0.625, 0.9375, 1.25, rem);
  @include onDesktop {
    font-family: "Bookman Old Style";
    font-weight: 300;
  }
  &:hover {
    color: #DF803E;
  }
  &:disabled {
    color: $text-color-gray;
    background-color: $text-color-light-gray;
  }
}
.button--leave {
  @include adaptive-property(padding-inline, 1.25, 1.875, 2.5, rem);
  @include adaptive-property(padding-block, 0.625, 0.9375, 1.25, rem);
  background-color: $bg-color-red;
  border: 2px solid $text-color-dark;
  &:hover {
    background-color: #FCFCFC;
    color:$bg-color-red;
    border: 2px solid #FCFCFC;
  }
}
.button--send {
  @include adaptive-property(padding-inline, 1.375, 2.75, 4.125, rem);
  @include adaptive-property(padding-block, 0.625, 0.9375, 1.25, rem);
  background-color: $bg-color-red;
  &:hover {
    background-color: #FCFCFC;
    color: $bg-color-red;
    border: 2px solid $bg-color-red;
  }
}
//====================================================================================
.titles {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__subtitle {
    text-align: center;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 1.5rem;
    @include onDesktop {
      margin-bottom: 0;
    }
    text-align-last: left;
  }
}
//=======================================OL-LIST===========================================
.ol-list {
  list-style: none;
  counter-reset: ol-item;
  list-style-position: inside;
  ol {
    display: flex;
    flex-direction: column;
  }
  li {
    @include positiion-r;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    @include adaptive-property(font-size, 1, 1.625, 2.125, rem);
    font-weight: 400;
    line-height: 1.187;
    @include onDesktop {
      font-family: 'Bookman Old Style';
      font-weight: 300;
      line-height: 1.3;
    }
  }
  li:before {
    flex-shrink: 0; 
    @include adaptive-property(width, 38, 48, 66);
    @include adaptive-property(height, 38, 48, 66);
    @include adaptive-property(font-size, 1, 1.625, 2.125, rem);
    @include adaptive-property(margin-right, 8, 0, 34);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $text-color-dark;
    counter-increment: ol-item;
    content: counter(ol-item, decimal-leading-zero);
    border-radius: 50%;
    border: 2px solid currentColor;
  }
}
