.section-subtitle {
  font-family: "Bookman Old Style";
  @include adaptive-property(font-size, 1.5, 2.1875, 3.125, rem);
  font-weight: 300;
  font-style: normal;
  text-align: center;
}
.section-title {
  font-family: "Roboto", serif;
  @include adaptive-property(font-size, 0.875, 1.25, 1.625, rem);
  @include adaptive-property(line-height, 16, 24, 31);
  @include adaptive-property(margin-bottom, 24, 0, 5);
  font-weight: 700;
  font-style: normal;
  color: $text-color-dark;

  @include onDesktop {
    font-family: "Bookman Old Style";
    font-weight: bold;
  }
}
.section-title--white {
  color: $bg-color-white;
}
.section-title--red {
  color: $bg-color-red;
}
.logo {
  width: fit-content;
  display: flex;
  @include adaptive-property(font-size, 20, 32, 42);
  font-weight: 600;
  line-height: 23px;
  color: $text-color-dark;
}
//==================================hover-link=====================================
.hover-link {
  span {
    @include position-r;
  }
  span::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: currentColor;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform $transition-duraction-short ease;
  }

  span:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
}
//==================================BUTTON=========================================
.button {
  position: relative;
  font-family: "Roboto", serif;
  font-weight: 400;
  background-color: $bg-color-white;
  color: $text-color-dark;
  border-radius: 10px;
  transition: $transition-duraction-short ease-in;
  @include adaptive-property(font-size, 0.875, 1.25, 1.625, rem);
  @include adaptive-property(line-height, 16, 24, 31);
  @include adaptive-property(padding-inline, 1, 1.875, 2.625, rem);
  @include adaptive-property(padding-block, 0.625, 0.9375, 1.25, rem);
  @include onDesktop {
    font-family: "Bookman Old Style";
    font-weight: 300;
  }
  &[data-hover]:before {
    content: attr(data-hover);
    position: absolute;
    left: 0;
    top: 0;
    @include adaptive-property(font-size, 0.875, 1.25, 1.625, rem);
    @include adaptive-property(line-height, 16, 24, 31);
    @include adaptive-property(padding-inline, 1, 1.875, 2.625, rem);
    @include adaptive-property(padding-block, 0.625, 0.9375, 1.25, rem);
    overflow: hidden;
    color: $bg-color-red;
    clip-path: inset(0 100% 0 0);
    transition: 0.5s;
  }
  &[data-hover]:hover::before {
    clip-path: inset(0 0 0 0);
  }
  &:disabled {
    color: $text-color-gray;
    background-color: $text-color-light-gray;
  }
}
.button--leave {
  @include adaptive-property(padding-inline, 1.25, 1.875, 2.5, rem);
  @include adaptive-property(padding-block, 0.625, 0.9375, 1.25, rem);
  &:hover {
    border: 2px solid $bg-color-white;
  }
}
.button--send {
  @include adaptive-property(padding-inline, 1.375, 2.75, 4.125, rem);
  @include adaptive-property(padding-block, 0.625, 0.9375, 1.25, rem);
  &:hover {
    border: 2px solid $bg-color-red;
  }
}
.button--leave,
.button--send {
  @include position-r;
  background-color: $bg-color-red;
  border: 2px solid $text-color-dark;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    height: 250%;
    width: 150%;
    border-radius: 50%;
    bottom: 100%;
    left: -25%;
    background: $bg-color-white;
    transition: 0.7s;
    z-index: -1;
  }
  &:hover:before {
    bottom: -50%;
  }
  &:hover {
    color: $bg-color-red;
  }
}
.arrow {
  @include adaptive-property(width, 66, 0, 106);
  @include adaptive-property(height, 66, 0, 106);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $bg-color-red;
  z-index: 2;
  cursor: pointer;

  svg {
    @include adaptive-property(width, 36, 0, 60);
    @include adaptive-property(height, 28, 0, 46);
    path {
      stroke: $bg-color-red;
    }
  }
}
.arrow--white {
  border: 2px solid $bg-color-white;
  svg {
    path {
      stroke: $bg-color-white;
    }
  }
}
.arrow:disabled {
  border: 2px solid $text-color-light-gray;
  svg path {
    stroke: $text-color-gray;
  }
}
//=======================================OL-LIST===========================================
.ol-list {
  list-style: none;
  counter-reset: ol-item;
  list-style-position: inside;
  ol {
    display: flex;
    flex-direction: column;
  }
  li {
    @include position-r;
    display: flex;
    align-items: start;
    font-family: "Roboto";
    @include adaptive-property(font-size, 1, 1.625, 2.125, rem);
    font-weight: 400;
    line-height: 1.187;
    @include onDesktop {
      font-family: "Bookman Old Style";
      font-weight: 300;
      line-height: 1.3;
    }
  }
  li:before {
    flex-shrink: 0;
    @include adaptive-property(width, 38, 48, 66);
    @include adaptive-property(height, 38, 48, 66);
    @include adaptive-property(font-size, 1, 1.625, 2.125, rem);
    @include adaptive-property(margin-right, 8, 0, 34);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $text-color-dark;
    counter-increment: ol-item;
    content: counter(ol-item, decimal-leading-zero);
    border-radius: 50%;
    border: 2px solid currentColor;
  }
}
//====================================POPUP===================================
.popup {
  left: 50%;
  top: 50%;
  translate: -50% -100px;
  opacity: 0;

  display: none;
  transition: $transition-duraction-long allow-discrete;

  @include adaptive-property(border-radius, 20, 0, 48);
  &__content {
    @include position-r;
    @include adaptive-property(width, 240, 0, 550);
    @include adaptive-property(padding, 20, 0, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bg-color-white;
  }
  &__title {
    @include adaptive-property(font-size, 1.2, 0, 2.125, rem);
    text-align: center;
    @include adaptive-property(margin-bottom, 20, 0, 42);
    margin-right: 20px;
  }
  &__close {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;

    &:before,
    &:after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50%;
      background-color: $text-color-dark;
      border-radius: 2px;
    }
    &::after {
      rotate: 45deg;
    }
    &:before {
      rotate: -45deg;
    }
  }
}
.popup::backdrop {
  opacity: 0;
  transition: $transition-duraction-long allow-discrete;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup[open] {
  display: block;
  opacity: 1;
  translate: -50% -50%;
}
.popup[open]::backdrop {
  opacity: 1;
}
@starting-style {
  .popup[open] {
    opacity: 0;
    translate: -50% -100px;
  }
  .popup[open]::backdrop {
    opacity: 0;
  }
}
.popup--success {
  @include p-margin;
  text-align: center;
}

.form-popup {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: $text-color-gray;
    -webkit-box-shadow: 0 0 0px 1000px $bg-color-white inset;
    transition: background-color $transition-duraction-long ease-in-out 0s;
  }
  &__item {
    @include adaptive-property(padding-block, 8, 0, 16);
    background-color: $bg-color-white;
    border-bottom: 2px solid $text-color-dark;
  }
  &__item::placeholder {
    color: $text-color-gray;
    @include adaptive-property(font-size, 0.8, 0, 1.65, rem);
    line-height: 120%;
  }
  &__item:last-of-type {
    @include adaptive-property(margin-bottom, 24, 0, 64);
  }
}
