%section-subtitle {
  font-family: "Bookman Old Style";
  @include adaptive-property(font-size, 24, 35, 50);
  font-weight: 300;
  font-style: normal;
}
%section-title {
  font-family: "Roboto", serif;
  @include adaptive-property(font-size, 14, 20, 26);
  @include adaptive-property(line-height, 16, 24, 31);
  font-weight: 700;
  font-style: normal;

  @include onDesktop {
    font-family: "Bookman Old Style";
    font-weight: bold;
  }
}
%button {
  font-family: "Roboto", serif;
  font-weight: 400;
  background-color: #FCFCFC;
  transition: $transition-duraction ease-in;
  @include adaptive-property(font-size, 14, 20, 26);
  @include adaptive-property(line-height, 16, 24, 31);
  @include adaptive-property(padding-inline, 16, 30, 42);
  @include adaptive-property(padding-block, 10, 15, 20);
  @include onDesktop {
    font-family: "Bookman Old Style";
    font-weight: bold;
  }
  &:hover {
    background-color: #DF803E;
  }
  @include screen-hover {
    background-color: #DF803E;
  }
  &:disabled {
    color: $text-color-gray;
    background-color: $text-color-light-gray;
  }
}
